<!DOCTYPE html>
<html>
    <head>
        <link href="@Url.Content("~/Scripts/touch/resources/css/sencha-touch.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/touch/sencha-touch-all.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Areas/Touch/app.js")" type="text/javascript"></script>
        <style>
            .posted{float:right;}
            .tweet{font-size:80%;margin-left:10px;color:#333;}
        </style>
    </head>
    
    <body>
        @RenderBody()
    </body>

</html>